@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MoviesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() Movie </h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <Div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control"})
    </Div>
    <Div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate , new { @class = "form-control"})
    </Div>
    <Div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreType.Id, "Movie Genre")
        @Html.DropDownListFor(m => m.Movie.GenreType.Id, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Movie Genre", new { @class = "form-control"})
    </Div>
    <Div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
    </Div>

    @Html.HiddenFor(m => m.Movie.Id)
    <button type="submit" class="btn btn-primary">Submit</button>
}

